<a href="https://colab.research.google.com/github/akheel143/Pandas/blob/main/Pandas_Creating_a_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating a Pandas DataFrame

In [ ]:
#Creating an empty dataframe 
# import pandas as pd
import pandas as pd
 
# Calling DataFrame constructor
df = pd.DataFrame()
 
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# import pandas as pd
import pandas as pd
  
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
  
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

 Dataframe using list with index and column names

In [ ]:
# import pandas as pd
import pandas as pd
  
# list of strings
lst = ['ram', 'jai', 'Gerkrs', 'ismanul', 'poster', 'feing', 'sabbu']
  
# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])
df

     Names
a      ram
b      jai
c   Gerkrs
d  ismanul
e   poster
f    feing
g    sabbu

Using zip() for zipping two lists

In [ ]:
# import pandas as pd
import pandas as pd
  
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
  
# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]
  
# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])
df

     Name  val
0   Geeks   11
1     For   22
2   Geeks   33
3      is   44
4  portal   55
5     for   66
6   Geeks   77

Creating DataFrame using multi-dimensional list

In [ ]:
# import pandas as pd
import pandas as pd 
    
# List1 
lst = [['tom', 25], ['krish', 30],
       ['nick', 26], ['juli', 22]]
    
df = pd.DataFrame(lst, columns =['Name', 'Age'])
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

 Using multi-dimensional list with column name and dtype

In [ ]:
# import pandas as pd
import pandas as pd 
    
# List1 
lst = [['tom', 'reacher', 25], ['krish', 'pete', 30],
       ['nick', 'wilson', 26], ['juli', 'williams', 22]]
    
df = pd.DataFrame(lst, columns =['FName', 'LName', 'Age'], dtype = float)
df

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   juli  williams  22.0

Using lists in dictionary to create dataframe

In [ ]:
# importing pandas as pd 
import pandas as pd 
  
# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]
  
# dictionary of lists 
dict = {'name': nme, 'degree': deg, 'score': scr} 
    
df = pd.DataFrame(dict)
    
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

Creating DataFrame from dict of ndarray/lists:

In [ ]:
import pandas as pd
 
# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18